@charset "utf-8";

* {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.herobanner {
	background-image: url("images/super hero.png");
	padding-bottom: 20%;
	background-size: cover;
}

.navbar {
	display: flex; 
	background-color: darkslategrey;
}

.navbar button {
	background-color: darkslategrey;
	float: left;
	border: none;
	padding: 14px 16px;
	color: white;
	text-decoration: none; 
}

.navbar button:hover {
  background-color: green;
}