@charset "utf-8";

body, html {
	height: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0px;
	background-color: black;
}

hr {
	width: 30%;
}

footer {
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

.navbar {
	overflow: hidden;
	z-index: 2;
	position: absolute;
	background-color: rgba(0,0,0, 0.4); 
	width: 100%;
	height: 70px;
}

.navbar h1 {
	color: white;
	float: left;
	margin-left: 25px;
}

.navbar a {
	display: inline-block;
  	position: relative;
	float: right;
	padding: 10px;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-decoration: none; 
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center;
  transition: transform 0.25s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.herobanner {
	background-image: url("images/606469-autumn-forest-leaves-woods-tree-nature-fog-woodland.jpg");
	filter: blur(3px);
	background-size: cover;
	image-resolution: snap;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 800px;
}

.herobanner-about {
	background-image: url("images/606469-autumn-forest-leaves-woods-tree-nature-fog-woodland.jpg");
	filter: blur(3px);
	background-size: cover;
	image-resolution: snap;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 400px;
}

.herotextborder {
	background-color: rgba(0,0,0, 0.4); 
	border: 3px solid #D9D9D9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
	width: 45%;
	padding: 10px;
	text-align: center;
}

.herotext {
	color: white;
	font-size: 55px;
}

.herotext2 {
	color: white;
	font-weight: 500;
	font-size: 30px;
}

.grid-container {
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
	margin-top: -100px;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -15px;
	margin-left: -15px;
}

.row-column {
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 40px 40px;
	flex-basis: 30%;
	margin-left: 25px;
	border-radius: 8px;
	z-index: 2;
}

.row i {
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
	max-height: 100%;
	background-color: rgba(0,0,0, 0.4); 
	border: 3px solid #D9D9D9;
	color: #FFFFFF;
	border-radius: 100%;
	font-size: 4rem;
	padding-top: 20px;
	text-align: center;
	width: 7rem;
	height: 7rem;
	position: relative;
}

.row-text {
	color: white;
	position: absolute;
	padding-top: 110px;
}

.row-para-text {
	color: white;
	position: absolute;
	font-weight: 600;
	padding-top: 160px;
}

.row-button {
	color: white;
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	font-weight: 600;
	margin-top: 220px;
	padding: 12px 20px;
	border-radius: 8px;
	border: 2px solid #D9D9D9;
}

.slideshow-container {
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.slideshow-row {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -15px;
	margin-left: -15px;
}

.slideshow-row-column {
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 30%;
	margin-left: 20px;
	border-radius: 8px;
	z-index: 2;
}

.slideshow-title {
	color: white;
	text-align: center;
	margin-top: 200px;
}

.slideshow-row-column img {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	border: 2px solid #D9D9D9;
}
